fit:
  trainer:
    max_epochs: 100
    accelerator: cuda
    devices: 1
  data:
    dataset_name: shenzhen
    batch_size: 64
    seq_len: 12
    pre_len: 1
  model:
    model:
      class_path: models.TGCN
      init_args:
        hidden_dim: 100
    learning_rate: 0.001
    weight_decay: 0
    loss: mse_with_regularizer
